.main-container {
	border-radius: 30px;
	width: 40%;
	padding: 0px;
	background-color: #d9d9d9;
}

#searchlogoImg {
	width: 130%;
	height: 100%;
	padding: 5px;
	opacity: 0.5;
}

#searchBox {
	padding: 0px;
	height: 40px;
	width: 100%;
	border: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	font-weight: bold;
	background-color: #d9d9d9;
}

input:focus {
	outline: none;
}

#searchBox::placeholder {
	color: #524e4e;
	text-transform: capitalize;
}
